<template>

    <div class="breadcrumb-block">
        <ul class="breadcrumb">
            <li>
                <span class="fa fa-home" aria-hidden="true" v-on:click="breadcrumb_click(0)"></span>
            </li>
            <li v-for="item in breadcrumb" v-on:click="breadcrumb_click(item.id)">
                {{ item.title }}
            </li>
        </ul>   
    </div>	

</template>



<script>
    export default {

        mounted() {
            console.log('cart component mounted')
        },
        data() {
            return {
            };
        },          
        props: ['breadcrumb'],
        methods: {
            go_home(){
                this.$emit('on_click_go_home');
            },
        	breadcrumb_click(category_id){
        		this.$emit('on_breadcrumb_click', category_id);
        	}
        }
    }

</script>