<template>

    <div class="category-block" v-on:click="category_click(category.id)">
        <div class="image">
            <img class="image small-image" v-bind:src="this.storage_url+category.image">                           
        </div>

        <div class="info">
            <div class="title">{{category.title}}</div>
        </div>
    </div>

</template>

<script>
    export default {
        mounted() {
            //console.log('Category Component mounted.')
        },
        data() {
            return {
                //category_image: this.storage_url+this.category.image
            };
        },
        props: ['storage_url', 'category', 'category_click'],
        methods: {

            test_post_ajax() {
                axios.post('post_test').then((res) => {
                    this.title = res.data;
                });
            },
            test_get_ajax() {
                axios.get('get_test').then((res) => {
                    this.title = res.data;
                });
            },
        }
    }
</script>