<template>

        <div class="product-block" v-on:click="product_click( product.id, product.title, 1, product.price_pvm, product.pvm_group_id )">
            <div class="image">
                <img class="image small-image" v-bind:src="this.storage_url+product.image" />
            </div>

            <div class="price">{{ product.price_pvm }} eu</div>
            <div class="info">
                <div class="title">{{ product.title }}</div>
                <div class="sku">Kodas: {{ product.sku }}</div>
                <div class="sku">Bar: {{ product.barcode }}</div>
            </div>
        </div>

</template>

<script>
    export default {

        mounted() {
            //console.log('Product Component mounted.')   
            this.$emit('test_func');
        },
        props: ['storage_url', 'product', 'product_click'],
        data() {
            return {

                //product_image: this.storage_url+this.product.image,
                /*
                product_in_list: {
                    'id': this.product.id,
                    'title': this.product.title,
                    'price': this.product.price
                    //'price': this.product.price_pvm
                }
                */
            };
        },
        methods: {

        }
    }
</script>