<template>

    <div class="products-list">

        <div class="products-list-table">


            <table class="table table-hover">
                <tbody>
                    <tr class="product-on-list" :class="product.selected" v-for="product in products" :prod="product.id">
                        <td>
                            <div class="quantity-minus" v-on:click="remove_product(product)">
                                <i class="fa fa-minus"></i>
                            </div>
                        </td>
                        <td class="title" v-on:click="on_cart_item_click(product)">{{ product.title }}</td>
                        <td v-on:click="on_cart_item_click(product)">{{ product.count }}</td>
                        <td v-on:click="on_cart_item_click(product)">
                            <div>{{ product_price(product) }}</div>
                            <div v-html="product_discount(product)">{{ product_discount(product) }}</div>
                        </td>
                        <td v-on:click="on_cart_item_click(product)">{{ product_price_total(product) }}</td>
                        <td>
                            <div class="quantity-plus" v-on:click="add_product(product)">
                                <i class="fa fa-plus"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>    


        <div class="price-total">
            <b>Viso:</b> {{ total_products_price }}
        </div>    
    </div>	

</template>



<script>
    export default {

        mounted() {
            console.log('cart component mounted')
        },
        data() {
            return {
                //price_total: 0,
            };
        },          
        props: ['products'],
        computed: {
	        total_products_price(){
	            var price_total = 0
	            var app = this;
	            
	            this.products.forEach(function(product){
	                var price = app.product_price(product);
	                price_total += product.count * price;
	            }); 
	            
	            return price_total.toFixed(2);
	        },        	
        },
        methods: {
        	on_cart_item_click(product){
                /*
        		if(product.selected === 'selected')
        			product.selected = '';
        		else
        			product.selected = 'selected';
                */

                console.log(product );
        		this.$emit('on_cart_item_click', product);
        	},
        	add_product(product){
        		//var add_count = 1;
        		this.$emit('on_add_product', product);
        	},
        	remove_product(product){
        		//var add_count = 1;
        		this.$emit('on_remove_product', product);
        	},        	
            product_price(product){
                var price = product.price;

                if(product.price_discounted)
                    price = product.price_discounted;

                if(product.discount_percentage){
                    var discount = ( parseFloat(product.price) * parseFloat(product.discount_percentage) ) / 100;
                    var new_price = product.price - discount;
                    new_price = new_price.toFixed(2);
                    price = new_price;                    
                }

                return price;
            },
            product_price_total(product){
                var total = 0;
                var price = this.product_price(product);

                total = product.count * price;
                total = total.toFixed(2);

                return total;
            },
            product_discount(product){

                var old_price = product.price;
                var discount_info = '';

                if(product.price_discounted){
                    discount_info = '<div class="old-price">'+old_price+'</div>';
                }

                if(product.discount_percentage){
                    discount_info = '<div class="old-price">%'+product.discount_percentage+' - '+old_price+'</div>';
                }  
                return discount_info;              
            },
        }
    }

</script>