<template>
	
	<div class="products-block">

		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" v-for="product in products">
	        <div class="product-block" v-on:click="on_product_click( product )">
	            <div class="image">
	                <img class="image small-image" v-bind:src="storage_url+product.image" />
	            </div>

	            <div class="price">{{ product.price_pvm }} eu</div>
	            <div class="info">
	                <div class="title">{{ product.title }}</div>
	                <div class="sku">Kodas: {{ product.sku }}</div>
	                <div class="sku">Bar: {{ product.barcode }}</div>
	            </div>
	        </div>
		</div>

	</div>

</template>



<script>
    export default {

        mounted() {
            console.log('products component mounted')
        },
        data() {
            return {
                storage_url: document.getElementById('storage-url').value,
                //products_on_load: v-for="product in products.slice(0, 6)"
            };
        },         
        props: ['products'],
        methods: {
        	on_product_click(product){
        		this.$emit('on_product_click', product);
        	}
        }
    }

</script>