html, body {
    height: 100%;
}

body{
    font-family: arial;    
}

[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.padding-left-sm-1{

}

.padding-right-sm-1{

}

.btn-close-checkout{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-shop{
    border-radius: 0px;
    background-color: #636b6f;
    background-color: #65b977;
    color: #fff;    
}

.btn-shop:hover, .btn-shop:active, .btn-shop:focus{
    background-color: #565d61; 
    background-color: #59a569;
    color: #fff   
}

.btn-shop-report{
    width: 100%;
    height: 80px;  
    height: 50px;  
}

.content{
    height: 100%;
}

.front-left-side, .front-right-side{
	position: relative;
	height: auto;
	float: left;
}

.front-left-side{
	/*width: 40%;*/
    width: 100%;
	border-right: 3px solid #5a5a5a;
	background: #fff;
}

.front-right-side{
	/*width: 60%;*/
    width: 100%;
	background: #e6e6e6;
}

.col-4{
    width: 33.33333333%; 
    float: left;
    padding-left: 5px;
    padding-right: 5px;       
}

.col-6{
    width: 50%; 
    float: left;
    padding-left: 5px;
    padding-right: 5px;       
}

.no-left-padding{
    padding-left: 0px;
}

.right-sm{
    margin-right: 5px;
}

.right-md{
    margin-right: 10px;
}

.right-lg{
    margin-right: 15px;
}

.space-sm{
    margin-top: 10px;
}

.space-md{
    margin-top: 20px;
}

.space-lg{
    margin-top: 60px;
}

.full-width{
    width: 100%!important;
}

.front-right-side .container-fluid{
    background: #e6e6e6;
}

.front-right-side{
    overflow-y: hidden;
}

.readonly-date[readonly]{
    background-color: #fff;
}

.toolbar-row{
    border-bottom: 1px solid #bdbdbd;
}

.toolbar-icon{
    padding: 5px 15px;
    display: inline-block; 
    color: #636b6f;   
}

.toolbar-icon:hover{
    opacity: 0.9;  
    cursor: pointer; 
    background: #d8d8d8;     
}

.message-box{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0px;    
}

.box{
    display: table;
    width: 100%; 
    margin-bottom: 15px;       
}

.products{
	padding: 30px;
    /*background: #e6e6e6;*/
    min-height: 600px;	
} 


.calculator-block{
    position: relative;
    /*bottom: 30px;*/
    bottom: 0px;
    width: 100%;    
    background: #c3c1c1;
    border-top: 3px solid #0cb70c;
    
}

.calculator-wrapper{
    display: table;
    width: 100%;
    border: 1px solid #b1b1b1;    
}

.calculator{
    display: table;
    width: 100%;	
    border-radius: 5px;  
    padding: 10px;  
}

.calculator-top-header{
    display: table;
    width: 100%;
    background: #fff;    
}

.calculator-header{
    float: left;
    width: 100%;
}

.calculator-left{
    float: left;
    width: 100%; 
}

.calculator-right{
    float: left;
    width: 100%;
}

.calculator .customer{
    padding: 5px;
    border-bottom: 1px solid #b8b7b7;
    display: table;
    width: 100%;   
}

.calculator .customer .customer-text{
    padding-top: 1px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.calculator .payment{
    padding: 10px;	
    text-align: center;  
    margin-top: 5px;
}

.calculator .button{
    width: 25%;
    float: left;
    display: inline-block;
    text-align: center;
    border: 1px solid #8a8a8a;
    border: 1px solid #afafaf;    
    border-radius: 0px;  
    /*font-size: 20px;*/
    font-size: 14px;
    font-weight: bold;
}



.calculator-modal{
    display: table;
    width: 100%;
    margin-bottom: 15px;    
}

.calculator-modal .button{
    width: 33%;
    border-radius: 0px;
    padding: 30px;    
    float: left;
    display: inline-block;
    text-align: center;
    font-weight: bold;    
    /*border: 1px solid #8a8a8a;*/
}

.btn-payment{
    width: 100%;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0px;
}

.payment a i{
    background: transparent;
    color: #636b6f;
    font-size: 55px;
}

.payment .text{
    color: #636b6f;
    font-weight: bold;
    font-size: 18px;    
}

.payment a:hover, .payment a:active, .payment a:focus{
    text-decoration: none;
    outline: none;
}

.discount-card{
    /*height: 55px;*/
    height: 32px;
    background: #fff;    
}

.discount-card-left{
    float: left;
    width: 75%;
}

.discount-card-right{
    float: left;
    width: 25%;
}

.discount-card-left .text{
    color: #65b977;
    font-weight: bold;
    /*padding: 14px;*/
    padding: 5px;
    text-align: center;
    font-size: 14px;    
}

.discount-card-right .color{
    /*height: 56px;*/
    height: 32px;
    background: #65b977;    
}

.circle{
    /*
    border-radius: 35px;
    width: 35px;
    height: 35px;
    */

    border-radius: 22px;
    width: 22px;
    height: 22px;

    background: #fff;  
}

.circle i{
    /*
    margin-left: 10px;
    margin-top: 7px;
    font-size: 20px;   
    */

    margin-left: 7px;
    margin-top: 0px;
    font-size: 12px;     
}

.empty{
    /*height: 32px;*/
    height: 25px;
    display: table;    
}


.image{
    width: 100%;    
}

.small-image{
    max-height: 120px;
}

.title{
    padding: 0px;
    text-align: center; 
}

.title h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon{
    font-size: 26px;
    padding: 5px;
    cursor: pointer;
}

.breadcrumb>li{
    display: inline-block;
    cursor: pointer;
}

.btn-pay{
    width: 100%;
    line-height: 60px;
    font-size: 30px;
    background-color: #65b977;
    border-color: #65b977;    
}

.price-total{
    font-size: 20px;
    color: #65b977;
    /*margin-top: 15px;*/
    margin-left: 15px;  
}

#payment-modal-id .price-total{
    font-size: 26px;
    margin-left: 0px;
}

#payment-modal-id .price-total-after{
    font-size: 26px;
    margin-left: 0px;
}

#payment-modal-id .paid-total-after{
    font-size: 26px;
    color: #9c904e; 
}

.price-change, .price-change-after{
    font-size: 20px;
    color: #ff1818;
}

.products-list-table{
    overflow-y: scroll;
    max-height: 400px;
    max-height: 330px;    
}



.right-side-top{
    position: relative;
}

.right-side-top .search-block{
    position: absolute;
    right: 15px;
    top: 15px;  
}

.breadcrumb {
    padding: 15px 15px;
    font-size: 18px;    
}

.search-products{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #c3c1c1;
}

.reload-screen{
    /*
    position: relative;
    right: 0px;
    bottom: 5px;
    */
    /*font-size: 20px;*/
    font-size: 16px;
    border-radius: 0px;
    background: #636b6f;
    color: #fff;
}

.calculator-number{
    margin-right: 5px;
    color: #636b6f;
    font-size: 18px;
}


/*--------------------- vue ---------------------------*/
.product-block{
    position: relative;
    background: #fff;   
    border: 2px solid #fff;
    min-height: 150px;
    margin-bottom: 30px;    
    cursor: pointer;
}

.product-block:hover{
    border: 2px solid #0cb70c;
    opacity: 0.8;
}

.product-block .small-image{
    height: 80px;
}

.product-block .image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5px;
}

.product-block .price{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #7e4abf;
    color: #fff;
    padding: 5px;
    border-bottom-left-radius: 5px; 
}

.product-block .info{
    position: absolute;
    bottom: 0px;
    padding: 5px;
    background: #fff;
    width: 100%;
}

.product-block .title{

}

.product-block .sku{

}

.product-on-list{
    display: table;
    width: 100%;
    padding: 5px 15px 5px 15px;
    cursor: pointer;    
}

.product-on-list:hover{
    background: #f5f4f4;    
}

.product-on-list .title{
    font-weight: bold;
    padding: 15px;
    min-width: 130px;
    text-align: left;    
}

.product-on-list .count{
    font-weight: bold;
    padding: 15px;
}

.product-on-list .price{
    font-weight: bold;
    padding: 15px;
}

.product-on-list .total{
    font-weight: bold;
    padding: 15px;
}

.product-on-list.selected{
    background: #79eac4;    
}

.table-hover > tbody > tr.product-on-list.selected{
    background-color: #79eac4;
}

.quantity-plus, .quantity-minus{
    color: #65b977;    
}

.quantity-plus:hover, .quantity-minus:hover{
    color: #559062;
    cursor: pointer;
}


.category-block{
    position: relative;
    background: #fff;  
    border: 2px solid #fff; 
    min-height: 150px;
    margin-bottom: 30px;    
    cursor: pointer;    
}

.category-block:hover{
    border: 2px solid #0cb70c;    

}

.category-block .info{
    position: absolute;
    bottom: 0px;
    padding: 5px;
    background: #fff;
    width: 100%;
}

.button.selected{
    background: #969696;
    color: #fff;    
}

.old-price{
    text-decoration: line-through;
    color: red;    
}


.shop-pos-block{
    position: relative;
    padding-top: 55px;
    padding-top: 5px;
    /*
    display: table;
    width: 100%;
    */
}

.pos-inputs-row{
    position: relative;
}

.position-initial{
    position: initial;
}


.pos-row-bottom{
    margin-bottom: 25px;
}

.pos-actions-summary{
    font-size: 13px;
}
/*-----------------------------------------------------*/





/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .calculator-block {
        position: absolute;
    }
    .front-left-side{
        width: 40%;
        height: 100%;
    }
    .front-right-side{
        width: 60%;
        height: 100%;
    }   
    .front-right-side{
        overflow-y: scroll;
    } 
    .calculator{
        padding: 5px;
    }          
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .padding-left-sm-1{
        padding-left: 1px;
    }

    .padding-right-sm-1{
        padding-right: 1px;
    }    
    .modal-dialog {
        margin: 50px auto;
    }    
    .btn-payment {
        font-size: 18px;
    }
    .calculator .button{
        font-size: 16px;
    }   

    .calculator-left{
        width: 34%; 
    }
    .calculator-right{
        width: 66%;
    }  
    .calculator .payment{ 
        margin-top: 40px;
    }        
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .btn-payment {
        font-size: 20px;
    }    
    .front-left-side{
        width: 40%;
        border-right: 3px solid #5a5a5a;
        background: #fff;
    }

    .front-right-side{
        width: 60%;
        background: #e6e6e6;
    } 
    .calculator-left{
        width: 40%; 
    }
    .calculator-right{
        width: 60%;
    } 
    .calculator{
        padding: 10px;
    }             
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    .front-left-side{
        width: 30%;
        border-right: 3px solid #5a5a5a;
        background: #fff;
    }

    .front-right-side{
        width: 70%;
        background: #e6e6e6;
    }

    .calculator .customer .customer-text {
        font-size: 16px;
    }

    .discount-card{
        height: 35px;   
    }

    .discount-card-left .text{
        font-size: 17px;
    }  

    .discount-card-right .color {
        height: 35px;
    }
}

/*Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .calculator .customer .customer-text {
        font-size: 20px;
        padding-left: 15px;
    }

    .discount-card{
        height: 42px;
    }

    .discount-card-left .text{
        font-size: 18px;
    }  

    .discount-card-right .color {
        height: 42px;
    }
}
