<template>

    <div class="keyboard-num-block hidden">
        <div class="calculator">
            <div class="calculator-wrapper">

                <div class="calculator-header"></div>
                    
                <div class="buttons">
                    <div class="button btn" v-on:click="keyboard_click(1)">1</div>
                    <div class="button btn" v-on:click="keyboard_click(2)">2</div>
                    <div class="button btn" v-on:click="keyboard_click(3)">3</div>
                    <div class="button btn" v-on:click="keyboard_click(4)">4</div>
                    <div class="button btn" v-on:click="keyboard_click(5)">5</div>
                    <div class="button btn" v-on:click="keyboard_click(6)">6</div>
                    
                    <div class="button btn" v-on:click="keyboard_click(7)">7</div>
                    <div class="button btn" v-on:click="keyboard_click(8)">8</div>
                    <div class="button btn" v-on:click="keyboard_click(9)">9</div>
                    <div class="button btn" v-on:click="keyboard_click('C')">C</div>
                    <div class="button btn" v-on:click="keyboard_click(0)">0</div>
                    <div class="button btn" v-on:click="keyboard_click('.')">.</div>
                </div>          

            </div> <!-- end calculator wrapper -->

        </div>
    </div>

</template>



<script>
    export default {

        mounted() {
            console.log('keyboard-number component mounted') 
        },
        props: [],
        data() {
            return {
                action_message: '',
            };
        },        
        //props: ['action_message2'],
        methods: {
            keyboard_click(nr){
                //console.log(nr);
                this.$emit('keyboard_click', nr);
            },
        }
    }

</script>

<style scoped>
    .keyboard-num-block .calculator .button{
        width: 33.3333%;
    }

    .keyboard-num-block{
        background: #c3c1c1;
        /*border-top: 3px solid #0cb70c;*/   
    }

    .keyboard-num-block{
        width: 200px;
        height: 166px;
        position: absolute;
        z-index: 1;
    }

    .keyboard-num-block .calculator{
        padding: 3px;
    }
</style>