<template>
	
	<div class="pos-actions-summary">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="1">Kasos aparato operacijos:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Inešimas:</td>
                    <td>{{ pos_insert_total }} Eu</td>
                </tr>
                <tr>
                    <td>Išėmimas:</td>
                    <td>{{ pos_withdraw_total }} Eu</td>
                </tr>
                <tr>
                    <td>Grąžinimas:</td>
                    <td>{{ pos_refund_total }} Eu</td>
                </tr>                     
                <tr>
                    <td>Avansas grynais:</td>
                    <td>- Eu</td>
                </tr>  
                <tr>
                    <td>Avansas kortele:</td>
                    <td>- Eu</td>
                </tr>                                                         
            </tbody>
        </table>

        <!-- APYVARTA -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="1">Pardavimai:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Grynieji:</td>
                    <td>{{ pos_cash_total }} Eu</td>
                </tr>
                <tr>
                    <td>Kortelė:</td>
                    <td>{{ pos_card_total }} Eu</td>
                </tr>                     
                <tr>
                    <td>Kreditas:</td>
                    <td>- Eu</td>
                </tr>
                <tr>
                    <td>Fiskaliniai kvitai:</td>
                    <td>{{ pos_orders_total }} Vnt.</td>
                </tr>   

                <tr>
                    <td><b>PARDAVIMAI VISO:</b></td>
                    <td>{{ pos_money_total }} Eu</td>
                </tr> 
                <tr>
                    <td><b>GRYNŪJŲ STALČIUJE:</b></td>
                    <td>{{ pos_money_in_pos }} Eu</td>
                </tr>                                                                                              
            </tbody>
        </table>
	</div>


</template>

<script>
    export default {

        mounted() {
            console.log('pos-actions-summary component mounted');	
        },
        props: [
            'pos_insert_total',
            'pos_withdraw_total', 
            'pos_refund_total',
            'pos_cash_total', 
            'pos_card_total',
            'pos_orders_total',
            'pos_money_total',
            'pos_money_in_pos'
        ],
    }
</script>